<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <% if (products.length === 0) { %>
      <div class="zero-products">
        <p>Hi! You have no item in your inventory. Please add new products.</p>
      </div>
     
    <% } else { %>
      <div class="index-page">

        <% for (product of products) { %>            
            <div class="product">
              <div class="product-img">
                <a href="/products/<%= product._id %>">
                  <img src="<%= product.image %>" class="product-img" alt="image">
                </a>
              </div>
              <div class="product-details">
                <div class="product-name">
                  <h3><%= product.name %></h3>
                </div>
                <div class="product-id">
                  Product ID: <%= product.productId %>
                </div> 
                <div class="stock-status">
                  <% if (product.stockQuantity > 0) { %>
                      <div class="in-stock">
                        In Stock
                      </div>
                  <% } else { %>
                      <div class="out-stock">
                        Out of Stock
                      </div>
                  <% } %>
                </div>
              </div>
              
            </div> 
        <% } %>
      </div>
    <% } %>
</body>
</html>